@model DogGoMVC.Models.ViewModels.WalksDeleteFormModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Walk.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Walk.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Walk.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Walk.WalkerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Walk.DogId)
            </th>
            <th>
                <label for="multi-delete" class="btn btn-danger" >Delete</label>
            </th>
        </tr>
    </thead>
    <tbody>
        <form formaction="/Walks/Delete" asp-action="MultiDelete" method="post">
            <input type="submit" id="multi-delete" formmethod="post" hidden/>
@for (var i = 0; i < Model.Walks.Count; i++) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Walks[i].Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Walks[i].Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Walks[i].Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Walks[i].WalkerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Walks[i].DogId)
            </td>
            <td>
                <input asp-for="@Model.Items[i].IsToBeDeleted" class="form-check-input" type="checkbox" value="@Model.Walks[i].Id" />
            </td>
        </tr>
}
        </form>
    </tbody>
</table>
